// 1. Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";
// 2. Setup your Custom Colors
$purple: hsl(275,87%,45%);
$purple-invert: findColorInvert($purple);

$primary: rgb(0, 161, 251);
// 3. Add new color variables to the color map.
@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";
$addColors: (
        "purple":($purple, $purple-invert),
);
$colors: map-merge($colors, $addColors);

@import '../../node_modules/bulma/bulma';
@import '../../node_modules/bulma-extensions/dist/css/bulma-extensions.min.css';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer {
  background-color: #fafafa;
  padding: 1.5rem 1.5rem 1.5rem;
}
